

.Jumbotron{
  text-align: center;
  justify-content: center;
  width: 100%;
}

.Title{
  font-size: 20px;
}

.img-detail-game{
 object-fit: cover;
 height: 500px;
 width: 100%;
}

.body{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.rating {
  border-right: 2px groove;
  margin-right: 50px;
  padding-right: 50px;
}

.released{
  border-right: 2px groove;
  margin-right: 50px;
  padding-right: 50px;
}

.platforms{
  border-right: 2px groove;
  margin-right: 50px;
  padding-right: 50px;
  width: 150px;
}

img {
  width: 40%; 
  height: 400px;
  padding: 1px;
}

.screenshot{
  justify-items: center;
  text-align: center;

}
